<div class="all-content">
    <div class="menu-container" fxLayout="column" fxLayoutAlign="space-evenly stretch">
        <app-menu-icon title="Horarios" iconSrc="assets/094-timetable.png" (click)="clickSchedule()"></app-menu-icon>
        <app-menu-icon title="SIU Guaraní" iconSrc="assets/070-online-education.png" (click)="clickGuarani()"></app-menu-icon>
        <app-menu-icon title="Entorno Virtual" iconSrc="assets/075-online-2.png" (click)="clickEntornoVirtual()"></app-menu-icon>
      </div>
      <div class="social-media-container" fxLayout="column" fxLayoutAlign="end center">
          <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <app-social-icon iconSrc="assets/facebook.png" (click)="clickFacebook()"></app-social-icon>
            <app-social-icon iconSrc="assets/instagram.png" (click)="clickInstagram()"></app-social-icon>
          </div>
      </div>
</div>


