.all-content {
    height: 100%;
    background: url('../../assets/fcjs.jpg');
    background-size: cover;
}

.menu-container {
    height: 90%;
}

.social-media-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}