<div class="page-container" fxLayout="column" fxLayoutAlign="space-evenly">
  <mat-form-field color="accent" class="form-field-class">
    <input matInput [matDatepicker]="dp3" [value]="date" (dateChange)="datePickerChanged($event)" disabled>
    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
    <mat-hint>Cambiar la fecha de consulta.</mat-hint>
  </mat-form-field>
  <mat-form-field color="accent" class="form-field-class">
    <input matInput type="text" autocomplete="off" placeholder="Buscar" [(ngModel)]="searchText" (keydown.enter)="$event.target.blur()">
    <button mat-button matSuffix mat-icon-button aria-label="Search" disabled>
      <mat-icon *ngIf="!searchText">search</mat-icon>
      <button mat-button color="accent" *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
        <mat-icon>close</mat-icon>
      </button>
    </button>
    <mat-hint>Comenzar a escribir para filtrar.</mat-hint>
  </mat-form-field>
  <div class="spinner-container" *ngIf="service.busy" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
  <div class="cards-container" *ngIf="!service.busy && service.currentList.length === 0">
    <div class="card-who">No hay información disponible.</div>
  </div>
  <div class="cards-container" *ngIf="!service.busy">
    <div class="item-container" *ngFor="let schedule of service.currentList | filter: searchText">
      <mat-chip-list class="schedule-chip">
        <mat-chip *ngIf="schedule.state" color="accent" class="chip-ok" selected>
          &nbsp;&nbsp;&nbsp;&nbsp;{{ schedule.start | date: 'HH:mm' }}</mat-chip>
        <mat-chip *ngIf="!schedule.state" color="primary" class="chip-suspended" selected>
          &nbsp;&nbsp;&nbsp;&nbsp;{{ schedule.start | date: 'HH:mm' }}</mat-chip>
      </mat-chip-list>
      <mat-card class="mat-elevation-z4">
        <div class="card-name">{{ schedule.name }}</div>
        <div *ngIf="schedule.who" class="card-who">Docente: {{ schedule.who }}</div>
        <div *ngIf="schedule.state" class="card-who">Aula: {{ schedule.location }}</div>
        <div *ngIf="!schedule.state" class="card-state">SUSPENDIDA</div>
        <div *ngIf="schedule.state" class="card-who">Finaliza: {{ schedule.end | date: 'HH:mm' }}</div>
      </mat-card>
    </div>
  </div>
</div>