@import "../../../theme.scss";

.icon-container {
  width: 100%;
}

.inside-container {
  width: 50%;
  background-image: linear-gradient(to bottom left, mat-color($app-primary), mat-color($app-primary, 700));
  border-radius: 15px 15px 0px 0px;
}

.big-icon {
  width: 65px;
  height: 65px;
}

.svg-icon {
  width: 50px;
  height: 50px;
}

.main-text {
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 4px 0px 4px 0px;
  background-color: mat-color($app-accent, 800);
  text-align: center;
  border-radius: 0px 0px 15px 15px;
  width: 50%;
}
