@import "../../../theme.scss";

.container {
  padding: 18px 0px 0px 0px;
  width: 100%;
}

.inside-container {
  width: 70%;
  background-image: linear-gradient(to bottom left, mat-color($app-primary), mat-color($app-primary, A700));
  border-radius: 15px 15px 0px 0px;
}

.big-icon {
  width: 80px;
  height: 80px;
}

.svg-icon {
  width: 50px;
  height: 50px;
}

.main-text {
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 0px 8px 0px;
  background-color: mat-color($app-primary, 800);
  text-align: center;
  border-radius: 0px 0px 15px 15px;
  width: 70%;
}
