<div fxLayout="column" fxLayoutAlign="space-around stretch">
  <div class="container" fxLayout="column" fxLayoutAlign="center center">
    <div class="inside-container" fxLayout="column" fxLayoutAlign="center center">
      <button mat-icon-button class="big-icon">
        <svg-icon class="svg-icon" src="{{ iconSrc }}"
          [svgStyle]="{  'height.px':50, 'width.px':50, 'fill':'rgb(255,255,255)' }" [stretch]="true"></svg-icon>
      </button>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="main-text">{{ title }}
    </div>
  </div>
</div>