.fill-remaining-space {
    flex: 1 1 auto;
}

.toolbar-title {
    color: white;
    font-weight: bold;
}

.toolbar-button {
    color: white;
    font-size: 24px !important;
}

.full-width {
    width: 100%;
}

.mat-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}